In [3]:
import pandas as pd
import numpy as np
import os

In [5]:
df = pd.DataFrame(
        data={
            '列1': [10, 20, 30, 40], 
            '列2': [50, 60, 70, 80],
            '列3': ['a', 'b', 'c', 'd']
        }
    )   
df

   列1  列2 列3
0  10  50  a
1  20  60  b
2  30  70  c
3  40  80  d

In [6]:
a = np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])